<%= link_to "Back to this pizza", pizza_path(@pizza) %>
<h2>Edit this pizza</h2>
<%= form_for @pizza do |f| %>
  <div>
    <%= f.label "name" %><br>
    <%= f.text_field "name" %>
  </div>
  <div>
    <%= f.label "price" %><br>
    <%= f.text_field "price" %>
  </div>

  <% @toppings.each do |topping| %>

    <div>
      <%= topping.name %> (<%= link_to "edit", edit_topping_path(topping) %>, <%= link_to "delete", topping_path(topping), :method => :delete, :"data-confirm" => "You sure?" %>)
    </div>

  <% end %>

  <div>
    <%= f.submit "Save" %>
  </div>
<% end %>
