
 <!-- Page Content -->

  <a  name="guest-book"></a>
    <div class="content-section-a">
      <div class="bg-overlay2">
        <div class="container">


                    <div class="clearfix"></div>
                    <h2 class="section-heading guest-book-section-heading">Create a pizza!</h2>
                    </br>
                    <p class="guest-book-lead">Maintain a list of the pizzas we sell</p>
                    </br>


                    <!-- table of pizzas  (name and price) -->
                    <!--
                        <table class="guest-book-form-table">
                            <tr class="guest-book-form-row">
                                <td class="guest-book-cell guest-book-form-col-label" align='right'><label for="name">Name</label></td>
                                <td class="guest-book-cell"><input class="guest-book-input" type="input" name="name" /></td>
                            </tr>
                            <tr class="guest-book-form-row">
                                <td class="guest-book-cell guest-book-form-col-label" align='right'><label for="email">Email</label></td>
                                <td class="guest-book-cell"><input class="guest-book-input" type="input" name="email"  /></td>
                            </tr>
                            <tr class="guest-book-form-row">
                                <td class="guest-book-cell guest-book-form-col-label" align='right'><label for="comments">Comments</label></td>
                                <td class="guest-book-cell"><textarea name="comments" width=80%></textarea></td>
                            </tr>
                            <tr class="guest-book-form-row">
                                <td class="guest-book-cell guest-book-create-button" align='right' colspan="2"><input  type="submit" name="submit" value="Create guest book entry" /></td>
                            </tr>
                        </table>
                    -->
                    </br>
                    </br>
                    </br>


                    <%= link_to "Back to all pizzas", pizzas_path %>
                    <h2><%= @pizza.name %> (<%= link_to "edit", edit_pizza_path(@pizza) %>, <%= link_to "delete", pizza_path(@pizza), :method => :delete, :"data-confirm" => "You sure?" %>)</h2>
                    <p><%= @pizza.price %></p>

                    <% @toppings.each do |topping| %>

                      <p>topping name: <%= topping.name %></p>
                    <% end %>

        </div>
        <!-- /.container -->
      </div>
     </div>
    </div>


</div>
</div>
</div>
<!-- /.banner -->
